@charset "UTF-8";

body {
    background-color: rgb(248, 255, 228);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}

h1 {
    color: rgb(56, 165, 42);
    background-color: rgb(155, 255, 255);
}
h2 {
    color: rgb(218, 0, 0);
}

p {text-align: justify;}
    
    